/*code de Cathy*/
/*pour les couleurs
#6B1518 --> c'est le bordeaux
#FFDE7A --> c'est le jaune pastel
et les polices; 'Parisienne' et 'Oswald'*/

body{
  font-family: cursive;
}

/*header {
	margin: 0;
	padding: 0;

}*/

.logo  {
  background-color: #FFDE7A;
	font-size: 30px;
  margin-left: -700px;
	margin-top: inherit;

}

.tete {

	background-color: #FFDE7A;
  font-family: cursive sans-serif;
  color: #6B1518 ;
  font-size: 18px;
  text-align: center;
  font-size: 1em;
  padding: 25px;

}

nav {
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
}

nav ul {
	margin: auto;

}

nav li {
	display: inline-block;
	height: 80px;
	line-height: 80px;
	margin-right: 130px;
	opacity: 0.7;
  font-family: cursive;
  font-size: 1.6em;
  color: #6B1518;
}

nav a{
  color: #FFF;
}

nav li a:hover {
	opacity: 1;
  color:#6B1518;
  text-decoration: none;
}


.carousel-inner img {
  width: 30%; /* taille des images  */
  margin: auto;
  min-height:200px;
}

/* rajout des couleurs dégradées sur les cotés; trouver mieux*/
.carousel-control.left {
  background-image: linear-gradient(to right,rgba(42,8,9,.7) 0,rgba(42,8,9,.0010) 100%);
}
.carousel-control.right {
  background-image: linear-gradient(to right,rgba(42,8,9,.0010) 0,rgba(42,8,9,.7) 100%);
}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

h1 {
	font-size: 3em;
  margin-left: 150px;
  padding-left: 10px;
}

h2 {
font-family: cursive sans-serif;
color: #6B1518 ;
}

p {
  font-family: cursive sans-serif;
  color: #6B1518 ;
}

.div-categoryContainer{
	box-sizing: border-box;
	margin: 10px auto 10px;
	padding: 10px;
	width: 80%; min-height: 300px;

	font-family: sans-serif;
	font-size: 1em;
	color: #333;

	background-color: #FFDEAD;
}

.picture1{
	border: none;
	float: left;
	margin-right: 40px;
}

.picture2 {
float: left;

}

.clearfix{
	margin: 0, padding 0;
	width: 0; height: 0;
}

/*code pour faire avancer la wago*/
@keyframes masuperanimation {
    0% {
        transform: translateX(0px);
    }

    90% {
        transform: translateX(1020px);
    }
    100% {
       transform: translateX(1200px) rotate(15deg);
   }
}

#wago
{
    margin: 100px;
    width: 0px;
    height: 100px;
    background-color: #FFFFFF;
}

#wago:hover
{
    animation: masuperanimation 8s; /* On utilise "ma super animation" définie plus tôt */
}

#wago {
  font-size: 30px;
  margin-left: 540px;
  margin-top: inherit;
}

.row a{
  width: 100%;
  font-family: cursive;
  color: #6B1518;
  font-size: 1.6em;
}

img.circle {
  border-radius: 50%;
  transition: 0.4s;
}

.ML {
  color: #FFF;
}
/*code de Myriam*/
.pied{
  text-align: center;
  background-color: #FFDE7A;
  font-size: 1.6em;
  padding: 25px;

}

footer a{
    color: #FFF;
    padding: 70px;
}

footer a:hover {
	opacity: 1;
  color:#6B1518;
  text-decoration: none;
}
